button {
  font-size: 14px;
  padding: 10px;
  border: 0;
  border-radius: 1em;
  cursor: pointer;
  display: inline-block;
}

.default {
  background-color: #6c757d;
}

.danger {
  background-color: #dc3545;
}

.primary {
  background-color: #007bff;
}

.base {
  font-size: 14px;
  padding: 10px;
}
.sm {
  font-size: 12px;
  padding: 8px;
}

.lg {
  font-size: 18px;
  padding: 14px;
}

